img {
    width: 300px
}

button {
    font-size: 30px;
}


/* Your code goes here: */

@keyframes racerSpeed {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(1900px);
    }
}